body { 
     font-family: 'Be Vietnam Pro', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; 
     background: #e9f6ff;
}
          
.hero {
     background-image: linear-gradient(rgba(0,0,0,0.12), rgba(0,0,0,0.4)), url('https://cdn-media.sforum.vn/storage/app/media/anh-vinh-ha-long-2.jpg');
     background-size: cover; 
     background-position: center; 
     height: 260px; 
     border-radius: 14px;
}

.card-floating {
     margin-top: -50px; 
     border-radius: 14px;
}

.input-icon { 
     flex: 0 0 48px;
     background:#f1f5f9; 
     display:flex;
     align-items:center; 
     justify-content:center; 
     border-radius: 999px 0 0 999px;
}

.rounded-pill-input {
     border-radius: 0 999px 999px 0;
}

.rounded-pill-input-password { 
     border-radius: 0 0 0 0;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

button#togglePwd {
     flex: 0 0 60px;
}